
p img{
	box-shadow: 5px 5px 10px #897, inset 5px 5px 10px #897;
	width: 120px;
	height: 105px;
	float: left;
	margin: 0px 10px 10px 10px;
	border: 2px solid #666;
}

.test-1 {
	font-weight: 700;
	margin: 10px;
	border-bottom: 2px solid #666;
	box-shadow: 5px 5px 10px #897, inset 5px 5px 10px #897;

}

.cat {
	border: 5px solid #666;
	background-color: #C1E8F6;
	box-shadow: 5px 5px 10px #897, inset 5px 5px 10px #897;
	border-radius:10px;
	padding: 5px;
	margin: 5px 5px;
	background-image: url(https://funart.pro/uploads/posts/2021-04/1618427332_50-funart_pro-p-oboi-fon-nezhno-goluboi-fon-50.png);
}

.cat-2 {
	font-weight: 400;
	margin: 2px 5px 2px 5px;
	padding: 2px 5px 2px 5px;
	text-indent: 30px;
}
